body {
  background: rgb(180, 180, 180);
  background-position: absolute;
  background-size: 1450px;
  margin: 25px;
  margin-left: 80px;
  overflow-x: hidden;
}

h1, h4 {
  font-family: "Arvo", sans-serif;
  font-size: 24px;
}

li {
  font-family: "Arvo", serif;
  font-size: 18px;
  line-height: 32px;
}

a {
  color: white;
}

a:hover {
  color: rgb(55, 45, 43);
  text-decoration: none;
}

a:active {
  color: inherit;
}

.shout {
  font-size: 60px;
}

.social {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.social li {
  display: inline;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  body {
    margin: 10px;
  }
}