body {
  background: rgb(180, 180, 180);
  margin: 25px;
}

h1 {
  line-height: 64px;
}

h1, h4 {
  font-family: "Arvo", sans-serif;
  font-size: 24px;
}

li {
  font-family: "Arvo", serif;
  font-size: 18px;
  line-height: 32px;
}

a {
  color: white;
}

a:hover {
  color: rgb(55, 45, 43);
  text-decoration: none;
}

.shout {
  font-size: 60px;
}

.social {
  text-align: center;
  padding: 0;
  margin: 20px 0 0 0;
}

.social li {
  display: inline;
  padding: 0 8px;
}

@media (max-width: 1200px) {
  body {
    margin: 10px;
  }
}